{% extends "baseTemplate.html" %}
{% block title %}Tepilora: the data{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<br></br>
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> All liquid securities.<p><span class="text-muted">  We are getting there.</span></p></h2>
        <p class="lead"> The final goal is to provide a complete dataset of liquid securities for every european investor. We currently cover more than 100k Funds end ETFs, and we will soon add 60k+ european bonds, 100k+ international stocks and main currencies, commodities and macro data.</p>
      </div>
      <div class="col-md-5">
      <h2 class="featurette-heading">
      <br>
        	<img class="featurette-image img-responsive img-fluid mx-auto" width="500" height="500" src="static/images/dataSeries.png">
      </br>
      </h2>
      
      <!--
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"  aria-label="Placeholder: 500x500"> 
    	</svg>
    	-->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">

        <h2 class="featurette-heading">Search, Deepen, Analyze.<span class="text-muted"> In a blink of an eye. </span></h2>
        <p class="lead"> Our APIs allow you to search for specific products, get detailed informations or download the full time series of prices and dividends. You choose the format.</p>
      </div>

      <div class="col-md-5 order-md-1">
      <h2 class="featurette-heading"></h2>
        	<img class="featurette-image img-responsive img-fluid mx-auto" width="400" height="400" src="static/images/search.png">
      </div>
      
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      	
        <h2 class="featurette-heading">Full APIs documentation. <span class="text-muted">Check it out.</span></h2>
        <p class="lead">We've got a full APIs documentation, including authentication and authorization, error handling and detailed end-points features.</p>
      </div>
      <div class="col-md-5">
	        <br></br>
        	<!--<a href="https://rapidapi.com/orghomepage/tepilora">-->
        	<br></br>
        	<img class="featurette-image img-responsive img-fluid mx-auto"  width="350" height="350" src="static/images/timeSeries.png" >
      </div>
    </div>
</div class="container marketing">

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  <!-- FOOTER -->
{% endblock %}  
