#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Jan 29 14:22:46 2020

@author: fleggio@tibco.com
"""

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>
    @font-face {
      font-family: "BrandonGrotesqueRegular";
      src: url("static/css/Brandonreg.eot"); /* IE9 Compat Modes */
      src: url("static/css/Brandonreg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("static/css/Brandonreg.otf") format("opentype"), /* Open Type Font */
        url("static/css/Brandonreg.svg") format("svg"), /* Legacy iOS */
        url("static/css/Brandonreg.ttf") format("truetype"), /* Safari, Android, iOS */
        url("static/css/Brandonreg.woff") format("woff"), /* Modern Browsers */
        url("static/css/Brandonreg.woff2") format("woff2"); /* Modern Browsers */
      font-weight: normal;
      font-style: normal;
    }
    body {
      font-family: "BrandonGrotesqueRegular";
    }
</style>
<div class="container-fluid main">
    <h2>First Slide</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ut sem et mollis. Phasellus sit amet ullamcorper diam. Quisque finibus felis est, sed fermentum ex laoreet ut. Sed sodales eget eros ac tempor. Praesent malesuada blandit felis ac vulputate. Vestibulum neque erat, fringilla non laoreet eu, feugiat in mi. Nam consectetur mauris nec ex vehicula, ut efficitur turpis blandit. Suspendisse ultrices hendrerit faucibus. Integer pretium nulla vitae mollis posuere. Mauris maximus pellentesque enim rhoncus hendrerit. </p>

    <a class="btn btn-info next2it" href="#"> Next > </a>
    

    <div class="slide">
      <h2>Second Slide</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ut sem et mollis. Phasellus sit amet ullamcorper diam. Quisque finibus felis est, sed fermentum ex laoreet ut. Sed sodales eget eros ac tempor. Praesent malesuada blandit felis ac vulputate. Vestibulum neque erat, fringilla non laoreet eu, feugiat in mi. Nam consectetur mauris nec ex vehicula, ut efficitur turpis blandit. Suspendisse ultrices hendrerit faucibus. Integer pretium nulla vitae mollis posuere. Mauris maximus pellentesque enim rhoncus hendrerit. </p>
        <a class="btn btn-info next2it" href="#"> Next > </a>
        <a class="btn btn-danger closeit" href="#"> Close X </a>

        <div class="slide">
          <h2>Third Slide</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ut sem et mollis. Phasellus sit amet ullamcorper diam. Quisque finibus felis est, sed fermentum ex laoreet ut. Sed sodales eget eros ac tempor. Praesent malesuada blandit felis ac vulputate. Vestibulum neque erat, fringilla non laoreet eu, feugiat in mi. Nam consectetur mauris nec ex vehicula, ut efficitur turpis blandit. Suspendisse ultrices hendrerit faucibus. Integer pretium nulla vitae mollis posuere. Mauris maximus pellentesque enim rhoncus hendrerit. </p>
            <a class="btn btn-info next2it" href="#"> Next > </a>
            <a class="btn btn-danger closeit" href="#"> Close X </a>

            <div class="slide">
              <h2>Forth Slide</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ut sem et mollis. Phasellus sit amet ullamcorper diam. Quisque finibus felis est, sed fermentum ex laoreet ut. Sed sodales eget eros ac tempor. Praesent malesuada blandit felis ac vulputate. Vestibulum neque erat, fringilla non laoreet eu, feugiat in mi. Nam consectetur mauris nec ex vehicula, ut efficitur turpis blandit. Suspendisse ultrices hendrerit faucibus. Integer pretium nulla vitae mollis posuere. Mauris maximus pellentesque enim rhoncus hendrerit. </p>
                <a class="btn btn-info next2it" href="#"> Next > </a>
                <a class="btn btn-danger closeit" href="#"> Close X </a>

                <div class="slide">
                  <h2>Fifth Slide</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ut sem et mollis. Phasellus sit amet ullamcorper diam. Quisque finibus felis est, sed fermentum ex laoreet ut. Sed sodales eget eros ac tempor. Praesent malesuada blandit felis ac vulputate. Vestibulum neque erat, fringilla non laoreet eu, feugiat in mi. Nam consectetur mauris nec ex vehicula, ut efficitur turpis blandit. Suspendisse ultrices hendrerit faucibus. Integer pretium nulla vitae mollis posuere. Mauris maximus pellentesque enim rhoncus hendrerit. </p>
                    <a class="btn btn-danger closeit" href="#"> Close X </a>

                </div>
            </div>
        </div>
    </div>
 </div>