{% extends "baseTemplate.html" %}
{% block title %}Tepilora: about us{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<br></br>
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> People shaping their own future. <span class="text-muted">  That's how we see ourselves.</span></h2>
        <p class="lead"> We are four professionals, over 80 cumulative years of experience in investment/IT industry. We do know strenghts and weaknesses of both sectors. As the world is changing around us, we decided to challenge ourselves and respond to new global trends to be at the forefront of Investment industry. We are willing to shape our future.</p>
      </div>
      <div class="col-md-5">
        	<h2 class="featurette-heading">
        	<img class="featurette-image img-responsive img-fluid mx-auto" width="500" height="500" src="static/images/boat.png">
        	</h2>
        	
      <!--
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"  aria-label="Placeholder: 500x500"> 
    	</svg>
    	-->
      </div>
    </div>

    <!-- /END THE FEATURETTES -->
  <hr class="featurette-divider">
  </hr>

{% endblock %}  
