    <style>
        @font-face {
          font-family: "BrandonGrotesqueRegular";
          src: url("static/css/Brandonreg.eot"); /* IE9 Compat Modes */
          src: url("static/css/Brandonreg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
            url("static/css/Brandonreg.otf") format("opentype"), /* Open Type Font */
            url("static/css/Brandonreg.svg") format("svg"), /* Legacy iOS */
            url("static/css/Brandonreg.ttf") format("truetype"), /* Safari, Android, iOS */
            url("static/css/Brandonreg.woff") format("woff"), /* Modern Browsers */
            url("static/css/Brandonreg.woff2") format("woff2"); /* Modern Browsers */
          font-weight: normal;
          font-style: normal;
        }
        body {
          font-family: "BrandonGrotesqueRegular";
        }
    </style>
<p>Welcome! Thanks for signing up. Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p>Cheers!</p>