{% extends "baseTemplate.html" %}
{% block title %}Tepilora{% endblock %}
{% block titlebar %}Tepilora: Login{% endblock %}
{% block content %}
<div class="container justify-content-md-center">
      <form class="form-signin" action="" method="post">
        <img src="static/images/Tepilora_logo_positivo_orizzontale.png" alt="" ><!--class="mb-4"--> <!--width="72" height="72" -->
        <h1>Please login</h1>
        <label for="username" class="sr-only">UserName</label>
        <input type="text"  class="form-control" placeholder="Username" name="username" value="{{ request.form.username }}">
        <label for="password" class="sr-only">Password</label>
        <input type="password"  class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        <div class="text-center">
            <a class="large" href="/resetpwd">Forgot password?</a>
        </div>                                            
      </form>
</div>
{% endblock %}  
