{% extends "baseTemplate.html" %}
{% block title %}Tepilora: Pricing{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}

    <!--
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="https://getbootstrap.com/docs/4.0/examples/pricing/#">Features</a>
        <a class="p-2 text-dark" href="https://getbootstrap.com/docs/4.0/examples/pricing/#">Enterprise</a>
        <a class="p-2 text-dark" href="https://getbootstrap.com/docs/4.0/examples/pricing/#">Support</a>
        <a class="p-2 text-dark" href="https://getbootstrap.com/docs/4.0/examples/pricing/#">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" href="https://getbootstrap.com/docs/4.0/examples/pricing/#">Sign up</a>
    </div>
    -->
    <div class="flex-row justify-content-center d-flex">
    {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-info d-flex justify-content-md-center col-8 mt-5 ml-5 mr-5" role="alert">
              {% for message in messages %}
                <h3>{{ message }}</h3>
              {% endfor %}
              </div>
            {% endif %}
    {% endwith %}
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-2 mx-auto text-center text-dark">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
    </div>

    <div class="container">
      <div class="d-flex justify-content-center p-4 flex-row">
                <span style="font-size:20px;color:black" class="pr-3">Email  </span><input class="w-50" type="email" name="email1" id="email1" placeholder="Enter email">
      </div>
      <div class="card-deck mb-3 text-center">
        <form id="subscription-form" style="display:hidden" action="{{ url_for('subscribe') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" hidden>
            <input type="text" name="sub-id" id="sub-id" value="" hidden>
            <input type="text" name="plan-name" id="plan-name" value="" hidden>
            <input type="email" name="email" id="email" hidden>
        </form>

        {% for product in stripeListOfProductsAndPrices %}

            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 text-primary font-weight-normal">{{ product.name }}</h4>
              </div>
              <div class="card-body text-body">
                {% if product.currency == 'eur' %}
                    <h1 class="card-title pricing-card-title">€ {{ product.price }} <small > / mo</small></h1>
                {% else %}
                    <h1 class="card-title pricing-card-title">$ {{ product.price }} <small > / mo</small></h1>
                {% endif %}                
                <ul class="list-unstyled mt-3 mb-4">
                  {% for key in product.metadata %}
                        {% if key[0:3] == 'des' %}
                            <li>{{ product.metadata[key] }}</li>
                        {% endif %}                
                  {% endfor %}
                </ul>
                    <a type="button" onclick="subscribe('{{ product.priceId }}','{{ product.billingScheme }}');" role="button" class="btn btn-lg btn-block btn-primary">Get started</a>
                  <!--
                  {% if name == null or name == '' %}
                    <a type="button" href="/planoffering" role="button" class="btn btn-lg btn-block btn-primary">Sign up for free</a>
                  {% else %}
                    <a type="button" href="/payment?payOption={{ product.id }}" role="button" class="btn btn-lg btn-block btn-primary">Get started</a>
                  {% endif %}
                  -->
              </div>
            </div>
        {% endfor %}
        <!--
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 text-primary font-weight-normal">Basic Plan Grd</h4>
          </div>
          <div class="card-body text-body">
            <h1 class="card-title pricing-card-title">€ 50.0 <small > / mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>1 Call per second</li>
                <li>500 calls per month</li>
                <li>Access only to Securities (ETF, etc.) with no historical data</li>
            </ul>
                <a type="button" onclick="subscribe('price_1JuRoQB4k1y3jDV8rlxHuG8w','');" role="button" class="btn btn-lg btn-block btn-primary">Get started</a>
              {% if name == null or name == '' %}
                <a type="button" href="/planoffering" role="button" class="btn btn-lg btn-block btn-primary">Sign up for free</a>
              {% else %}
                <a type="button" href="/payment?payOption={{ product.id }}" role="button" class="btn btn-lg btn-block btn-primary">Get started</a>
              {% endif %}
          </div>
        </div>
        -->
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 text-primary font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body text-body">
            <h1 class="card-title pricing-card-title">Check with us<small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <a type="button" href="/contactus" role="button" class="btn btn-lg btn-block btn-primary">Contact Us</a>
            <!--<button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>-->
          </div>
        </div>
      </div>

    </div>


    <script src="static/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script type="text/javascript" src="static/js/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
    <script>
    function subscribe(id,name){
        console.log(name);
        $("#sub-id").val(id);
        $("#plan-name").val(name);
        $("#email").val($("#email1").val());
        $("#subscription-form").submit()
        }
    </script>

{% endblock %}  
