{% extends "baseTemplate.html" %}
{% block title %}Tepilora: The project{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<br></br>
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">A Flexible Infrastructure. <span class="text-muted"> Our Mantra? Be Scalable.</span></h2>
        <p class="lead"> We designed our infrastructure to be scalable to the highest levels. We can deliver data to million clients or we can expand our datasets size in minutes. AWS provisions powerful and scalable infrastructure (IAAS), NoSQL provides high speed and flexibility, Python all the versatility for evolving our offering. </p>
      </div>
      <div class="col-md-5">
        	<img class="featurette-image img-responsive img-fluid mx-auto" width="500" height="500" src="static/images/infrastructure.png"/>
      <!--
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"  aria-label="Placeholder: 500x500"> 
    	</svg>
    	-->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">A European Perspective. <span class="text-muted"> From Nuorgam to El Pinar: we've got good news for you. </span></h2>
        <p class="lead"> Detailed descriptions and historical data series for more than 120k European Funds and ETFs. We provide one of the widest and detailed data lake on the market. And very soon hundred of thousands of Stocks, Bond, Indices, Currencies and Macro data.</p>
      </div>
      <div class="col-md-5 order-md-1">
        	<img class="featurette-image img-responsive img-fluid mx-auto" width="500" height="500" src="static/images/Euro.png"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      	
        <h2 class="featurette-heading">Try our APis on RapiAPI. <span class="text-muted">You'll fall in love with us.</span></h2>
        <p class="lead">Start with a free plan. Search our database and access our data lake in CSV or Json format. You'll be surprised by the value of our offer.</p>
      </div>
      <div class="col-md-5">
          <a href="https://rapidapi.com/orghomepage/tepilora"/>
        	<img class="featurette-image img-responsive img-fluid mx-auto"  width="400" height="400" src="static/images/RapidAPI.png"/>
      </div>
    </div>
</div class="container marketing">

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  <!-- FOOTER -->
{% endblock %}  
