{% extends "baseTemplate.html" %}
{% block title %}Tepilora: Customer{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center p-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-info d-flex justify-content-md-center col-8 mt-5 ml-5 mr-5" role="alert">
              {% for message in messages %}
                <h3>{{ message }}</h3>
              {% endfor %}
              </div>
            {% endif %}
        {% endwith %}
        <h3 style="color:black" class="col-12 text-center p-3"> Register for subscription plans </h3>
        <div class="col-6">
        <form id="product_form" class="pl-5 pr-5 pb-5 pt-0" action="{{ url_for('create_customer') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" hidden>
            <div class="form-group">
                <label for="Product" style="color:black">Customer Name</label>
                <input type="text" class="form-control" id="name" name="customer-name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
                <label for="Product" style="color:black">Email</label>
                <input type="email" class="form-control" id="email" name="customer-email" placeholder="Enter your email" required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label text-dark" for="exampleCheck1">Add VAT (optional)</label>
            </div>
            <div class="form-group" id="tax-field">
                <label for="Product" style="color:black">Tax Type</label>
                <select class="form-control form-control-lg mb-3" name="tax-type">
                    <option selected value="0">Select tax type</option>
                    <option value="ae_trn">United Arab Emirates</option>
                    <option value="au_abn">Australia</option>
                    <option value="eu_vat">European Union</option> <!-- Example RO1234567891 -->
                    <option value="us_ein">United States</option>
                    <option value="th_vat">Thailand</option>
                    <option value="ch_vat">Switzerland</option>
                    <option value="nz_gst">New Zealand</option>
                    <option value="mx_rfc">Mexico</option>
                    <option value="ca_bn">Canada</option>
                    <option value="za_vat">South Africa</option>
                    <option value="sg_gst">Singapore</option>
                    <option value="ru_inn">Russian Federation</option>
                </select>
                 <label for="Product" style="color:black">Tax Value</label>
                <input type="text" class="form-control" id="tax-value" name="tax-value" placeholder="Enter tax value">
            </div>
            <button class="btn btn-primary btn-lg" style="float:left" type="submit">Register</button>
            <a href="/planoffering" class="btn btn-info btn-lg" style="float:right">View Plans</a>
        </form> 
        </div>
    </div>
</div>
<script>
    $("#tax-field").hide();
    $("#exampleCheck1").change(function() {
        if(this.checked) {
            $("#tax-field").show();
        }
        else{
            $("#tax-field").hide();
        }
    });
</script>
{% endblock %}
