{% extends "baseTemplate.html" %}
{% block title %}Tepilora: Customer{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center p-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-info d-flex justify-content-md-center col-8 mt-5 ml-5 mr-5" role="alert">
              {% for message in messages %}
                <h3>{{ message }}</h3>
              {% endfor %}
              </div>
            {% endif %}
        {% endwith %}
        <h3 style="color:black" class="col-12 text-center p-3"> Subscription Plan </h3>
        <div class="col-6">
        <form id="product_form" class="pl-5 pr-5 pb-5 pt-0" action="{{ url_for('user_dashboard') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" hidden>
            <div class="form-group">
                <label for="Product" style="color:black">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            {% if subscription %}
                <div class="card m-5" style="width: inherit;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-dark"><strong>Active:</strong> {{subscription.is_active}}</li>
                        <li class="list-group-item text-dark">{{subscription.plan_id}}</li>
                        <li class="list-group-item text-dark">{{subscription.stripe_subscription_id}}</li>
                        <li class="list-group-item text-dark">{{subscription.stripe_subscription_item_id}}</li>
                        <li class="list-group-item text-dark">{{subscription.email}}</li>
                        <li class="list-group-item text-dark">{{subscription.created_at}}</li>
                        <li class="list-group-item bg-success"><a href="{{url_for('update_subscription')}}" class="btn btn-success btn-lg" >Update Subscription</a></li>
                        <li class="list-group-item bg-danger"><a href="{{url_for('cancel_subscription')}}" class="btn btn-danger btn-lg" >Cancel Subscription</a></li>
                    </ul>
                </div>
            {% endif %}
            <button class="btn btn-primary btn-lg" style="float:left" type="submit">View Subscription</button>
            <a href="/planoffering" class="btn btn-info btn-lg" style="float:right" type="submit">View Plans</a>
        </form> 
        </div>
    </div>
</div>

{% endblock %}
