{% extends "baseTemplate.html" %}
{% block title %}Tepilora: Change password{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}
			<div class="container">
			<div class="row">
			<div class="col-sm-12">
			{% if error == '' or error == null %}
				<h1>{{ msgToDisplay }} for {{ email }}</h1>
			{% else %}
				<h1 class="text-danger">Dear {{ email }} {{ error }}</h1>
			{% endif %}
			</div>
			</div>
			<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
			<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
			
			<form class="form" method="post" id="passwordForm">
				<input type="password" class="input-lg form-control" name="password" id="password" placeholder="New Password" autocomplete="off"  value="{{ request.form.password }}">
				<div class="row">
				</div>
				<input type="password" class="input-lg form-control" name="confirmpassword" id="confirmpassword" placeholder="Repeat Password" autocomplete="off" value="{{ request.form.confirmpassword }}">
				<div class="row">
				</div>
				<input name= "ChangePassword" type="submit" class="btn btn-primary btn-block btn-lg" value="ChangePassword">

			</form>
			</div><!--/col-sm-6-->
			</div><!--/row-->
			</div>
{% endblock %}  
