{% extends "baseTemplate.html" %}
{% block title %}Tepilora: The idea{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<br></br>
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We wanted you to know. <span class="text-muted">  We stand for accessible knowledge, for everyone.</span></h2>
        <p class="lead"> We spent hours talking about a possible solution for the big data divide. We want Tepilora to be a solution, providing access to a huge financial data lake at a fair price and an easy-to-use interface.</p>
      </div>
      <div class="col-md-5">
        	<img class="featurette-image img-responsive img-fluid mx-auto" width="500" height="500" src="static/images/Words.png">
      <!--
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"  aria-label="Placeholder: 500x500"> 
    	</svg>
    	-->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">We are enthusiastic Europeans. <span class="text-muted"> Tepilora is our small contibution to the big project. </span></h2>
        <p class="lead"> Tepilora is a truly European company, designed for European people: we see a bright future for european integration and we are willing to contribute to this amazing, dazzling project.</p>
      </div>
      <div class="col-md-5 order-md-1">
        	<br></br>
        	<br></br>
        	<img class="featurette-image img-responsive img-fluid mx-auto" width="400" height="400" src="static/images/EuropeNight.png">
      </div>
      
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      	
        <h2 class="featurette-heading">Yes, we are open. <span class="text-muted">To doubt, diversity, critical thinking, inclusion.</span></h2>
        <p class="lead">We dream of a company where people are valued and appreciated only for their contribution. Any different point of view is always welcome.</p>
      </div>
      <div class="col-md-5">
	        <!--<a href="https://rapidapi.com/orghomepage/tepilora">-->
        	<br></br>
        	<img class="featurette-image img-responsive img-fluid mx-auto"  width="400" height="400" src="static/images/Open.png" >
      </div>
    </div>
</div class="container marketing">

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}  
