{% extends "baseTemplate.html" %}
{% block title %}Tepilora{% endblock %}
{% block titlebar %}Tepilora{% endblock %}
{% block content %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <!--<rect width="100%" height="100%" fill="#4F73C6"></rect>-->
          <img  class="img-responsive"  src="static/images/carousel0.jpg" alt="Dock">
        </svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>An expanding universe of data</h1>
            <p>More than 100k ETFs, Mutual Funds, Stocks*, Bonds*. All in one feed.</p>
            <p>*Coming Soon</p>
            <p><a class="btn btn-lg btn-secondary" href="/data" target="_blank" role="button">See our data</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <!--<rect width="100%" height="100%" fill="#777"></rect>-->
            <img  class="img-responsive" width="100%" height="100%" src="static/images/carousel1.jpg" alt="Sea">
           <!-- <img  class="img-responsive" width="100%" height="100%" src="static/images/carousel1.jpg" alt="Sardegna"> -->
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Knowledge for European investors</h1>
            <p>Data lake of European investable assets.</p>
            <p><a class="btn btn-lg btn-secondary" href="/idea" target="_blank" role="button">The idea behind Tepilora.</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="true" role="img">
          <!--<rect width="100%" height="100%" fill="#777"></rect>-->
	<!--<img  class="center img-responsive"  width="100%" height="100%" src="static/images/carousel5.jpg" alt="Cloud">-->          
	<img  class="img-responsive"  src="static/images/Tcloud.png" alt="Cloud">
        </svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Unlock the power of a Big Data infrastructure</h1>
            <p>A solid, flexible, fast, Cloud-Based API feed.</p>
            <p><a class="btn btn-lg btn-secondary" href="/project" target="_blank" role="button">See our project</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <h2>The Idea</h2>
        <p>Why we do what we do.</p>
        <p><a class="btn btn-secondary" href="/idea" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <h2>The Project</h2>
        <p>How we do what we do.</p>
        <p><a class="btn btn-secondary" href="/project" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <h2>The Data</h2>
        <p>Discover our data on RapidAPI.</p>
        <p><a class="btn btn-secondary" href="https://rapidapi.com/organization/tepilora" target="_blank" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



  </div><!-- /.container -->

{% endblock %}  

