.disclaimer {
    background: #00beef none repeat scroll 0 0;
    width: 100%;
}
.disclaimer h3 {
    color: #fff;
    font-family: Roboto-Regular;
    font-size: 25px;
    margin: 0;
    padding: 20px 0;
}
.disclaimer h4 {
    color: #fff;
    font-family: Roboto-Regular;
    font-size: 18px;
    margin: 0;
    padding: 20px 0;
}